name: Simple CI

on:
  workflow_dispatch:
  push:

jobs:
  ci:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn
      - run: yarn ci
