name: Jest Tests

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - 'main'

jobs:
  jest:
    name: Run Jest testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3.5.0
        with:
          node-version: '16'
          cache: 'yarn'
      - name: Install packages
        run: yarn
      - name: Run Jest
        run: yarn test
